/* 2) css footer.css */

.footer {
    background-size: cover;
    background-position: center;
    color: #fff;
    margin-top: 30px;
}

.footer-top {
    /* background-color: #212121; */
    /* padding: 50px 0 20px; */
}

.box-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #212121;
    padding: 50px 0 20px;
    flex-wrap: wrap;
}

.logo-footer {
    width: auto;
    margin-bottom: 20px;
}
.list-address-footer{
    position:relative;
    padding-left:20px;
    /* color: #404040; */
}
.list-address-footer:before {
    content: '';
    width: 3px;
    height: calc(100% - 10px);
    position: absolute;
    left: 0;
    top: 5px;
    background-color: #fff;
}
.list-address-footer ul li {
    font-weight: 300;
    line-height: 28px;
}
.time-work{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.time-work-info{/* color: #404040; */}
.time-work-info h3{
    margin: 0;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 5px;
}
.time-work-info .desc{
    font-size: 14px;
}

.footer-top{
    width: 100%;
    text-align: center;
}

.footer-top .image{display: inline-flex;background-color: #28aadf;width: 80px;height: 80px;justify-content: center;align-items: center;}

.footer-top .image img{
    height: 58px;
}

.list_logo_foot{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_logo_foot .image{padding: 0 10px;}

.list_logo_foot .image img{
    width: auto;
    height: 60px;
}

.bct{}

.logo-footer img {}

.search-footer {
    display: flex;
    margin-top: 10px;
    align-items: center;
    width: calc(100% - 10% - 150px);
    /* padding: 0 40px; */
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.search-footer h3 {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
}

.search-footer .newsletter {
    width: auto;
    flex: 1 1 auto;
}

.bank-footer {
    display: flex;
    width: 20%;
    margin-bottom: 30px;
}

.bank-footer .image {}

.bank-footer .image img {}

.newsletter-input>.fa-envelope {
    padding: 0 1.8rem;
    -ms-flex-item-align: center;
    align-self: center;
}

.newsletter-input {
    background-color: #262626;
    color: #777;
    border: none!important;
}

.newsletter-input {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-radius: 10rem;
    overflow: hidden;
    /* background: #fff; */
}

.newsletter-input>.fa-envelope {
    padding: 0 1.8rem;
    -ms-flex-item-align: center;
    align-self: center;
}

.newsletter-email {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.newsletter-email input {
    padding: 0 .96rem 0 0;
    border: none;
    outline: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: inherit;
}

.newsletter button {
    padding: 1.2rem 1.6rem;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0;
}

.btn-primary {
    color: #fff;
    background-color: #353a3d;
    border-color: #353a3d;
    font-weight: bold;
    font-size: 15px;
    padding: 3px 20px;
}

.footer-main {
    padding: 25px 0 20px;
    background: #fff;
    color: #fff;
}

.box-footer-main-info{
    max-width: 450px;
}

.border-top {
    padding-top: 50px;
    /* border-top: 2px solid #e23b41; */
    border-bottom: 1px solid #212121;
    border-top: unset !important;
}

.footer-main>.container>.row {}


.footer-bottom{
    background-color: #fff;
    padding: 5px 0;
    background-image: url(../images/bg_bottom.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}
.coppy-right{
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #333;
}
.back_to_top{
    text-align: center;
}
.back_to_top a{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.back_to_top a span{
    font-size: 14px;
}
.back_to_top img{
    width: 20px;
    margin-left: 5px;
}


.pt_social {
    display: flex;
    margin-top: 16px;
    /* float: left; */
    margin-left: 12px;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
    /* margin-top: 20px; */
}
.pt_social li:first-child{
    font-size:14px;
}
.pt_social li:not(:last-child) {
    margin-right: 3px;
    /* color: #404040 */
}

.pt_social li a {
    display: inline-block;
    height: 27px;
    width: 27px;
    line-height: 25px;
    text-align: center;
    float: left;
    border-radius: 10px;
    /* background-color: #1d1e22; */
    /* color: #fff; */
    /* box-shadow: 7px 7px 8px -6px #bdbdd3; */
    border: 1px solid #000;
    border-radius: 100%;
    background-color: #fff;
    color: #000;
}

.pt_social li a i {
    font-size: 14px;
    line-height: 27px;
    color: #000;
}

.col-item-footer {
    margin-bottom: 25px;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.title-footer {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
    padding-bottom: 1px;
    position:relative;
}
.title-footer:before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 100%;
}
.desc-foot {
    font-size: 15px;
    line-height: 1.7;
    color: #353a3d;
}

.logo-footer img {
    width: 210px;
    /* height: 79px; */
    max-width: 100%;
}


 .form-footer button{
    background-image: linear-gradient(45deg,#ffd68c, #ffd68c);
    text-transform: uppercase;
    font-weight: bold;
    border-color: #ffd68c;
    padding: 5px 20px;
     font-size: 15px;
    color: #353a3d;
}

.footer-link {
    /* color: #e23b41; */
}

.footer-link li {}

.footer-link li a {
    line-height: 28px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
}
.footer-link li a:hover{
    color: #28aadf;
}
.footer-link li i {
    font-size: 11px;
    padding-right: 5px;
}

.footer-form {}

.footer-form form {}

.footer-form form input {
    border-radius: 40px;
    box-shadow: unset;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 10px;
    color: #e23b41;
}

.footer-form form input::placeholder {
    color: #e23b41;
}

.footer-form form button {
    width: 100%;
    border-radius: 15px;
    text-transform: uppercase;
    color: #e23b41;
    border: 1px solid #e23b41;
    background: #fff;
    outline: unset;
    line-height: 25px;
    font-size: 13px;
    font-weight: 600;
}

.footer-form form button:hover {
    background-color: #e23b41;
    color: #fff;
}

.footer-bottom {
    padding: 20px 0;
}

.footer-bottom .box-footer-bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom .box-footer-bottom h3 {
    color: #fff;
    font-size: 17px;
    margin-right: 10px;
    margin-top: 5px;
}

.link-footer-bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.link-footer-bottom li {
    font-size: 13px;
}

.link-footer-bottom li a {
    color: #fff;
}

.link-footer-bottom li+li:before {
    content: "|";
    margin: 0 7px;
}

.pt_contact_vertical {
    position: fixed;
    display: block;
    bottom: 36px;
    z-index: 100;
    right: 15px;
}

.contact-mobile .contact-item a {
    margin-bottom: 8px;
    display: block;
    transition: all 0.4s ease;
    position: relative;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 20px;
}

.contact-mobile .contact-item a i {
    color: #fff;
    line-height: inherit;
    transform: rotateY(180deg);
    font-size: 17px;
}

.contact-mobile .contact-item .fb-mess {
}

.contact-mobile .contact-item .phone {
    background-color: #6fc2aa;
}

.tel_phone {
    border-radius: 30px;
    line-height: 45px;
    position: absolute;
    height: 45px;
    color: #fff;
    font-size: 17px;
    text-align: center;
    background-color: #e9242d;
    color: white;
    top: 30px;
    left: 90px;
    padding: 0;
    font-weight: 600;
    width: 0;
    overflow: hidden;
    padding-left: 29px;
    transition: all 0.5s;
    opacity: 0;
}

.quick-alo-phone:hover .tel_phone {
    width: 165px;
    left: 49px;
    opacity: 1;
}

.tel_phone a {
    margin: 0;
    color: #fff;
    display: block;
    width: 135px;
}

.quick-alo-phone.quick-alo-show {
    visibility: visible;
    /* display: none; */
}

.quick-alo-phone {
    position: fixed;
    visibility: hidden;
    background-color: transparent;
    width: 100px;
    height: 100px;
    display: block;
    cursor: pointer;
    z-index: 98;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility 0.5s;
    -moz-transition: visibility 0.5s;
    -o-transition: visibility 0.5s;
    transition: visibility 0.5s;
    left: 5px;
    bottom: 15px;
}

.quick-alo-ph-circle {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    border: 2px solid #3a71aa 9;
    opacity: 0.1;
    -webkit-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.quick-alo-phone.quick-alo-green .quick-alo-ph-circle {
    border-color: #e9242d;
    opacity: 0.5;
}

.quick-alo-ph-circle-fill {
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.1;
    -webkit-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.quick-alo-phone.quick-alo-green .quick-alo-ph-circle-fill {
    background-color: #e9242d;
    opacity: 0.75;
}

.quick-alo-phone.quick-alo-green .quick-alo-ph-img-circle {
    background-color: #e9242d;
}

.quick-alo-ph-img-circle {
    width: 50px;
    height: 50px;
    top: 25px;
    left: 25px;
    position: absolute;
    background: rgba(30, 30, 30, 0.1) url(../images/quick-call-button.png) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.quick-alo-phone.quick-alo-green .quick-alo-ph-img-circle {
    background-color: #e9242d;
}
/*
.back_to_top {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(to top, #c31f26, #c31f26);
    /* padding: 10.5px 15px; */
    border-radius: 50px;
    z-index: 99;
    overflow: hidden;
}

.back_to_top a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_to_top span {
    display: inline-block;
    float: left;
    line-height: 27px;
    color: #404040;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.5s;
    /* width: 0; */
}

.back_to_top img {
    width: auto;
    /* float: left; */
    margin-top: 3px;
}
*/
.contact_fixed {
    width: 100%;
    background: linear-gradient( -90deg, #000, #000);
    display: flex;
    left: 0;
    bottom: 0;
    min-height: 45px;
    position: fixed;
    z-index: 99;
    display: none;
}

.contact_fixed li {
    display: flex;
    width: 25%;
}

.contact_fixed li:not(:last-child) {
    border-right: 1px solid #fff;
}

.contact_fixed li a {
    display: flex;
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.contact_fixed li img {
    height: 24px;
    width: auto;
}

.contact_fixed li a i {
    color: #fff;
}

@-moz-keyframes quick-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-webkit-keyframes quick-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-o-keyframes quick-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@keyframes quick-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-moz-keyframes quick-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-webkit-keyframes quick-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-o-keyframes quick-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@keyframes quick-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-moz-keyframes quick-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@-webkit-keyframes quick-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@-o-keyframes quick-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes quick-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@media (max-width:  1199px){
    .col-item-footer {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

@media (max-width:991px) {
    .content-box:not(:last-child) {
        border: unset;
    }
    .search-footer {
        width: 100%;
        padding-left: 0;
    }
}

@media (max-width: 767px){
    .col-item-footer {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width:550px) {
    .quick-alo-phone {
        display: none;
    }
    .list_logo_foot .image img{
        height: 46px;
    }
    .coppy-right {
        font-size: 15px;
        line-height: 22px;
    }
    .footer{
        margin-top: 10px;
    }
    .back_to_top{
        text-align: center;
        margin-top: 10px;
    }
    .back_to_top a span{
        font-size: 15px;
    }
    .back_to_top a{
        display: inline-flex;
    }
    .back_to_top {
        position: unset;
        right: 28px;
        bottom: 90px;
    }
    .pt_contact_vertical {
        
    }
    .footer .title {
        font-size: 20px;
    }
    .footer-main {
        padding: 25px 0 20px;
    }
    .pt_social li:not(:last-child) {
        margin-right: 20px;
    }

    .pt_social li:first-child{
        display:none;
    }
    
    .footer .title {
        font-size: 20px;
    }
    
    .pt_social li:not(:last-child) {
        margin-right: 20px;
    }

    .contact_fixed {
        display: flex;
    }
}
