<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> PIAGGIO </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="vi" />
    <meta name="keywords" content="@yield('keywords')" />
    <meta name="description" content="@yield('description')" />
    <meta name="abstract" content="@yield('abstract')" />
    <meta name="ROBOTS" content="Metaflow" />
    <meta name="ROBOTS" content="noindex, nofollow, all" />
    <meta name="AUTHOR" content="Bivaco" />
    <meta name="revisit-after" content="1 days" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="@yield('image')" />
    <meta property="og:image:alt" content="@yield('image')" />

    <meta property="og:url" content="{{ makeLink('home') }}" />
    <meta property="og:type" content="article">
    <meta property="og:title" content="@yield('title')">
    <meta property="og:description" content="@yield('description')">
    <link rel="canonical" href="{{ makeLink('home') }}" />
    <link rel="shortcut icon" href="{{URL::to('/favicon.ico')}}" />
    <script type="text/javascript" src="{{ asset('lib/jquery/jquery-3.2.1.min.js') }} "></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta2/css/all.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/animate.css">
    <link rel="stylesheet" type="text/css" href="../css/slick.css">
    <link rel="stylesheet" type="text/css" href="../css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
     
    <link rel="stylesheet" type="text/css" href="../css/stylesheet-2.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/cart.css">
</head>

<body class="template-search">
    <div class="wrapper home">
        <div class="menu_fix_mobile">
            <div class="close-menu">
                <a href="javascript:;" id="close-menu-button">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
            <ul class="nav-main">
                <li class="nav-item ">
                    <a href=""><span>Trang chủ</span>
                    </a>
                </li>

                <li class="nav-item ">
                    <a href=""><span>Giới thiệu</span>
                    </a>
                </li>

                <li class="nav-item ">
                    <a href=""><span>Các dòng xe</span>
                        <i class="fa fa-angle-down mn-icon"></i>
                    </a>
                    <ul class="nav-sub">
                        <li class="">
                            <a href=""><span>Liberty</span></a>
                        </li>
                        <li class="">
                            <a href=""><span>Piaggio</span></a>
                        </li>
                        <li class="">
                            <a href=""><span>Vespa</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ">
                    <a href=""><span>Phụ kiện</span>
                        <i class="fa fa-angle-down mn-icon"></i>
                    </a>
                    <ul class="nav-sub">
                        <li class="">
                            <a href=""><span>Gương chiếu hậu</span></a>
                        </li>
                        <li class="">
                            <a href=""><span>Móc treo đồ</span></a>
                        </li>
                        <li class="">
                            <a href=""><span>Bộ giá đỡ</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ">
                    <a href=""><span>Dịch vụ & phụ tùng</span>
                        <i class="fa fa-angle-down mn-icon"></i>
                    </a>
                    <ul class="nav-sub">
                        <li class="">
                            <a href=""><span>Dịch vụ ký gửi xe</span></a>
                        </li>
                        <li class="">
                            <a href=""><span>Dịch vụ cho thuê xe</span></a>
                        </li>
                        <li class="">
                            <a href=""><span>Dịch vụ mua bán xe</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href=""><span>Tin tức & Ưu đãi</span>
                        <i class="fa fa-angle-down mn-icon"></i>
                    </a>
                    <ul class="nav-sub">
                        <li class="">
                            <a href=""><span>Tin tức</span></a>
                        </li>
                        <li class="">
                            <a href=""><span>Khuyến mại</span></a>
                        </li>
                        <li class="">
                            <a href=""><span>Voucher giảm giá</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ">
                    <a href=""><span>Liên hệ</span>
                    </a>
                    <ul class="nav-sub">
                        <li class="">
                            <a href=""><span>Liên hệ</span></a>
                        </li>
                        <li class="">
                            <a href=""><span>Chính sách bán hàng</span></a>
                        </li>
                        <li class="">
                            <a href=""><span>Chính sách bảo hành</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="box_header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <div class="group_box_header">
                            <div class="box_left">
                                <div class="list-bar">
                                    <div class="bar1"></div>
                                    <div class="bar2"></div>
                                    <div class="bar3"></div>
                                </div>
                                <span class="text_menu">Menu</span>
                                <div class="logo_header">
                                    <a href="">
                                        <img src="../images/logo.webp" alt="Logo">
                                    </a>
                                </div>
                            </div>
                            <div class="box_right">
                                <div class="logo_2">
                                    <a href="">
                                        <img src="../images/vespa.webp" alt="Logo">
                                    </a>
                                </div>
                                <div class="logo_3">
                                    <a href="">
                                        <img src="../images/logo.webp" alt="Logo">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="slide">
                <div class="container">
                    <div class="box-slide faded cate-arrows-1">
                        <div class="item-slide">
                            <a href=""><img src="../images/slide.jpg" alt="slide"></a>
                        </div>
						<div class="item-slide">
                            <a href=""><img src="../images/slide1.jpg" alt="slide"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap_product">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-12">
                            <div class="group_title_left">
                                <div class="title">
                                    Khám phá các dòng xe PIAGGIO
                                </div>
                                <div class="image_log">
                                    <img src="../images/logo.webp" alt="Logo">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-12">
                            <div class="row">
                                <div class="slider_product list_product">
                                    <div class="slider autoplay3 category-slide-1 category-slide-2">
                                        <div class="item">
                                            <div class="box_item">
                                                <div class="image">
                                                    <a href="">
                                                        <img src="../images/sh.webp" alt="Logo">
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <h3>
                                                        <a href="">
                                                            Medley S 2020 125
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="item">
                                            <div class="box_item">
                                                <div class="image">
                                                    <a href="">
                                                        <img src="../images/sh2.webp" alt="Logo">
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <h3>
                                                        <a href="">
                                                            Liberty S 125
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                
                                        </div>
                                        <div class="item">
                                            <div class="box_item">
                                                <div class="image">
                                                    <a href="">
                                                        <img src="../images/sh.webp" alt="Logo">
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <h3>
                                                        <a href="">
                                                            Medley S 2020 125
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="item">
                                            <div class="box_item">
                                                <div class="image">
                                                    <a href="">
                                                        <img src="../images/sh2.webp" alt="Logo">
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <h3>
                                                        <a href="">
                                                            Liberty S 125
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap_product wrap_product2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-12">
                            <div class="group_title_left">
                                <div class="title">
                                    Khám phá các dòng xe VESPA
                                </div>
                                <div class="image_log">
                                    <img src="../images/vespa.webp" alt="Logo">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-12">
                            <div class="row">
                                <div class="slider_product list_product">
                                    <div class="slider autoplay3 category-slide-1 category-slide-2">
                                        <div class="item">
                                            <div class="box_item">
                                                <div class="image">
                                                    <a href="">
                                                        <img src="../images/ves1.webp" alt="Logo">
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <h3>
                                                        <a href="">
                                                            GTS Super
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="item">
                                            <div class="box_item">
                                                <div class="image">
                                                    <a href="">
                                                        <img src="../images/ves2.webp" alt="Logo">
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <h3>
                                                        <a href="">
                                                            Primavera
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                
                                        </div>
                                        <div class="item">
                                            <div class="box_item">
                                                <div class="image">
                                                    <a href="">
                                                        <img src="../images/ves3.webp" alt="Logo">
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <h3>
                                                        <a href="">
                                                            Sprint
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="item">
                                            <div class="box_item">
                                                <div class="image">
                                                    <a href="">
                                                        <img src="../images/ves4.webp" alt="Logo">
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <h3>
                                                        <a href="">
                                                            Sei Giorni
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap_phukien">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-12">
                            <div class="group_title_left">
                                <div class="title">
                                    Phụ kiện
                                </div>
                                <div class="view_all">
                                    <a href="">
                                        Xem thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-12">
                            <div class="row">
                                <div class="list_phukien autoplay6_phukien category-slide-1 category-slide-2">
                                    <div class="item">
                                        <div class="box_item">
                                            <div class="image">
                                                <a href="">
                                                    <img src="../images/1a.jpg" alt="Logo">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <h3>
                                                    <a href="">
                                                        Áo thun
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="box_item">
                                            <div class="image">
                                                <a href="">
                                                    <img src="../images/2a.jpg" alt="Logo">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <h3>
                                                    <a href="">
                                                        Đồng hồ
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="box_item">
                                            <div class="image">
                                                <a href="">
                                                    <img src="../images/3a.jpg" alt="Logo">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <h3>
                                                    <a href="">
                                                        Túi đựng đồ
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="box_item">
                                            <div class="image">
                                                <a href="">
                                                    <img src="../images/4a.jpg" alt="Logo">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <h3>
                                                    <a href="">
                                                        Bánh xe
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="box_item">
                                            <div class="image">
                                                <a href="">
                                                    <img src="../images/5a.jpg" alt="Logo">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <h3>
                                                    <a href="">
                                                        Đa dụng
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="box_item">
                                            <div class="image">
                                                <a href="">
                                                    <img src="../images/6a.jpg" alt="Logo">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <h3>
                                                    <a href="">
                                                        Máy bơm
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box_banner3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-12">
                            <div class="list_banner">
                                <div class="item">
                                    <div class="image">
                                        <img src="../images/bm1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src="../images/bm5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src="../images/bm2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box_banner2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-12">
                            <div class="list_banner">
                                <div class="item">
                                    <div class="image">
                                        <img src="../images/bm3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src="../images/bm4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap-post-home">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="group-title">
                                <div class="title title-img">Tin tức - ưu đãi</div>
                            </div>

                            <div class="list-post-home tin-tuc-home category-slide-1 category-slide-2">
                                <div class="item-post">
                                    <div class="box">
                                        <div class="image">
                                            <a href=""><img src="../images/new1.jpg" alt=""></a>
                                        </div>
                                        <div class="content">
                                            <div class="name">
                                                <a href="">Tính tình của tứ trụ giống như tính tình của con người ứng với khí của Ngũ hành</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-post">
                                    <div class="box">
                                        <div class="image">
                                            <a href=""><img src="../images/new2.jpg" alt=""></a>
                                        </div>
                                        <div class="content">
                                            <div class="name">
                                                <a href="">Tính tình của tứ trụ giống như tính tình của con người ứng với khí của Ngũ hành</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-post">
                                    <div class="box">
                                        <div class="image">
                                            <a href=""><img src="../images/new3.jpg" alt=""></a>
                                        </div>
                                        <div class="content">
                                            <div class="name">
                                                <a href="">Tính tình của tứ trụ giống như tính tình của con người ứng với khí của Ngũ hành</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-post">
                                    <div class="box">
                                        <div class="image">
                                            <a href=""><img src="../images/new4.jpg" alt=""></a>
                                        </div>
                                        <div class="content">
                                            <div class="name">
                                                <a href="">Tính tình của tứ trụ giống như tính tình của con người ứng với khí của Ngũ hành</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="system">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-12">
							<div class="group-title">
                                <div class="title title-img">Hệ thống cửa hàng</div>
                            </div>
                            <div class="box_system">
                                <div class="list_tinhthanh">
                                    <div class="title">
                                        Hệ thống cửa hàng
                                    </div>
                                    <select class="form-control" name="">
                                        <option>Chọn tỉnh thành</option>
                                        <option>Hà Nội</option>
                                        <option>TP. Đà Nẵng</option>
                                        <option>TP. Hồ Chí Minh</option>
                                    </select>
                                    <div class="list_chinhanh">
                                        <div class="box_chinhanh">
                                            <div class="item">
                                                <div class="name_chinhanh">Piaggio Anh Khoa - Pleiku</div>
                                                <ul class="chinhanh_info">
                                                    <li><i class="fas fa-map-marker-alt"></i>167 Hùng Vương, P.Hội Thương 61000 TP Pleiku, tỉnh Gia Lai, GL</li>
                                                    <li><i class="fas fa-phone-alt"></i> 0976717777</li>
                                                    <li><i class="fab fa-facebook-f"></i> https://facebook.cơm</li>
                                                </ul>
                                            </div>
                                            <div class="item">
                                                <div class="name_chinhanh">Piaggio Anh Khoa - Kon Tum</div>
                                                <ul class="chinhanh_info">
                                                    <li><i class="fas fa-map-marker-alt"></i> 108D (số cũ) Lê Hồng Phong-TP Kon T, tỉnh Kon Tum, KT</li>
                                                    <li><i class="fas fa-phone-alt"></i> 0976717777</li>
                                                    <li><i class="fab fa-facebook-f"></i> https://facebook.cơm</li>
                                                </ul>
                                            </div>
                                            <div class="item">
                                                <div class="name_chinhanh">Piaggio Phát Tiến</div>
                                                <ul class="chinhanh_info">
                                                    <li><i class="fas fa-map-marker-alt"></i> 600 Trần Hưng Đạo - P.Thị Nại - TP., Bình Định, BD</li>
                                                    <li><i class="fas fa-phone-alt"></i> 0563828679</li>
                                                    <li><i class="fab fa-facebook-f"></i> https://facebook.cơm</li>
                                                </ul>
                                            </div>
											<div class="item">
                                                <div class="name_chinhanh">Piaggio Xuân Thoại</div>
                                                <ul class="chinhanh_info">
                                                    <li><i class="fas fa-map-marker-alt"></i> 359 Lê Lợi, P,, TP Tuy Hòa, Phú Yên,</li>
                                                    <li><i class="fas fa-phone-alt"></i> 0573 889888</li>
                                                    <li><i class="fab fa-facebook-f"></i> https://facebook.cơm</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="map_system">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7449.418753999137!2d105.84151262209025!3d21.00428376001931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac768ffe1abd%3A0x22b136bcf1c08e2a!2zQsOhY2ggS2hvYSwgSGFpIELDoCBUcsawbmcsIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1633657007088!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="image">
                        <img src="../images/logo_pia.png" alt="PIAGGIO">
                    </div>
                </div>
            </div>
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-item-footer">
                                    <div class="title-footer">
                                        Các dòng xe
                                    </div>
                                    <div class="list-link-footer">
                                        <ul class="footer-link">
                                            <li><a href="">Liberty</a></li>
                                            <li><a href="">Piaggio</a></li>
                                            <li><a href="">Vespa</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-item-footer">
                                    <div class="title-footer">
                                        Phụ kiện
                                    </div>
                                    <div class="list-link-footer">
                                        <ul class="footer-link">
                                            <li><a href="">Gương chiếu hậu</a></li>
                                            <li><a href="">Móc treo đồ</a></li>
                                            <li><a href="">Bộ giá đỡ</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-item-footer">
                                    <div class="title-footer">
                                        Dịch vụ & Phụ tùng
                                    </div>
                                    <div class="list-link-footer">
                                        <ul class="footer-link">
                                            <li><a href="">Dịch vụ ký gửi xe</a></li>
                                            <li><a href="">Dịch vụ cho thuê xe</a></li>
                                            <li><a href="">Dịch vụ mua bán xe</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-item-footer">
                                    <div class="title-footer">
                                        Tin tức & Ưu đãi
                                    </div>
                                    <div class="list-link-footer">
                                        <ul class="footer-link">
                                            <li><a href="">Tin tức</a></li>
                                            <li><a href="">Khuyến mại</a></li>
                                            <li><a href="">Voucher giảm giá</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-item-footer">
                                    <div class="title-footer">
                                        Liên hệ
                                    </div>
                                    <div class="list-link-footer">
                                        <ul class="footer-link">
                                            <li><a href="">Liên hệ</a></li>
                                            <li><a href="">Chính sách bán hàng</a></li>
                                            <li><a href="">Chính sách bảo hành</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-12">
                            <div class="list_logo_foot">
                                <div class="image">
                                    <img src="../images/logo.png" alt="PIAGGIO">
                                </div>
                                <div class="image">
                                    <img src="../images/vespa.png" alt="VESPA">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt_contact_vertical">
        <div class="contact-mobile">
            <div class="contact-item">
                <a class="contact-icon fb-mess" title="facebook" href="https://m.me/" target="_blank">
                    <img src="../images/facebook-icon.png" alt="icon">
                </a>
            </div>
            <div class="contact-item">
                <a class="contact-icon zalo" title="zalo" href="https://zalo.me/" target="_blank">
                    <img src="../images/zalo-icon.png" alt="icon">
                </a>
            </div>
            <div class="contact-item">
                <a class="contact-icon phone" title="zalo" href="https://zalo.me/" target="_blank">
                    <i class="fas fa-phone-alt"></i>
                </a>
            </div>
            
            <div class="clearfix"></div>
        </div>
    </div>


    <script type="text/javascript" src="../js/lightbox-plus-jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/wow.min.js"></script>
    <script type="text/javascript" src="../js/slick.min.js"></script>
    <script src="../js/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script src="../js/Cart.js"></script>
    <script src="../js/Compare.js"></script>


</body>
</html>
